body {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #031D44;
  color: white;
  height: 100vh;
}

button {
  background-color: #1b95e0;
  border-color: #1b95e0;
  color: white;
  font-size: 24px;
  padding: 8px;
}

p {
  font-size: 10px;
}

a {
  color: white;
}

.frame {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 2px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
    align-items:center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

svg#bulb{
    fill: #F6E27F;
    transition: all 0.4s ease-in-out;
}

svg#base{
    fill: #B1C1C0;
    margin-top: 5px;
}

.light{
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 15px #f6e27fa3;
    cursor: pointer;
    height: 70px;
    position: absolute;
    top: 0;
    width: 70px;
    transition: box-shadow 0.2s ease-in-out;
}

.dark {
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;

}

.dark + svg#bulb{
  fill: #B1C1C0;
}